#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-DOXENC_WARNINGS_AS_ERRORS=OFF

# Ubuntu's default zstd compression for control, data is not well supported outside Ubuntu:
override_dh_builddeb:
	dh_builddeb -- -Zxz
